version: "3.9"

services:
  market:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: SpotInstrumentService
    env_file:
      - ./.env
    ports:
      - "50051:50051" 
      - "9091:9091"   
    networks:
      - shared-net

networks:
  shared-net:
    external: true